h1.page-header
    | Dashboard

.row
    .col-md-12
        table.table.totals-table
            tbody
                tr
                    td Confirmed
                    td {{ walletOverview.balance | number:8 }}
                    td RDD
                tr
                    td Unconfirmed
                    td {{ walletOverview.unconfirmedbalance | number:8 }}
                    td RDD
                tr
                    td Total
                    td {{ walletOverview.balance + walletOverview.unconfirmedbalance | number:8 }}
                    td RDD


