h1.page-header
    | Dashboard

.row
    .col-md-6
        table.table.prices-table
            tbody
                tr
                    td BTC/USD
                    td {{ marketData.btc }}
                tr
                    td RDD/BTC
                    td {{ marketData.rddBtc }}
                tr
                    td RDD/LTC
                    td {{ marketData.rddLtc }}
                tr
                    td Est. USD
                    td {{ marketData.rddBtc * marketData.btc * walletOverview.balance | number:2 }}

    .col-md-6
        table.table.totals-table
            tbody
                tr
                    td Confirmed
                    td {{ walletOverview.balance | number:8 }}
                    td RDD
                tr
                    td Unconfirmed
                    td(style="text-align: right") {{ walletOverview.unconfirmedbalance | number:8 }}
                    td RDD
                tr
                    td Total
                    td {{ walletOverview.balance + walletOverview.unconfirmedbalance | number:8 }}
                    td RDD


