ul.nav.nav-sidebar

    li(ng-class="getClass('/dashboard')")
        a(ng-href='#/dashboard') Dashboard

    li(ng-class="getClass('/send')")
        a(ng-href='#/send') Send

    li(ng-class="getClass('/receive')")
        a(ng-href='#/receive') Receive

    li(ng-class="getClass('/addresses')")
        a(ng-href='#/addresses') Addresses

    li(ng-class="getClass('/transactions')")
        a(ng-href='#/transactions') Transactions

    li(ng-class="getClass('/statistics')")
        a(ng-href='#/statistics') Statistics

    li(ng-class="getClass('/settings')")
        a(ng-href='#/settings') Settings

    li(ng-class="getClass('/help')")
        a(href="", ng-click="openHelp()") Help
