.row
    .col-sm-12
        ul.nav.nav-pills
            li(ng-class="{active: activePage == 'reddit-top'}")
                a(href="", ng-click="changePage('reddit-top')") Reddit (Top)

            li(ng-class="{active: activePage == 'reddit-new'}")
                a(href="", ng-click="changePage('reddit-new')") Reddit (New)

            li(ng-class="{active: activePage == 'reddcoin'}")
                a(href="", ng-click="changePage('reddcoin')") Twitter

            li.pull-right
                a(href="", ng-click="refreshNews()") Refresh

.news-container
    .media.reddit-post(ng-repeat="post in postData.items")
        .media-body
            h4
                a(href="", ng-click="openPost($index)", target="_blank")
                    span(ng-bind-html="post.data.title | to_trusted")
            p
                span.text-muted By &nbsp;
                | {{ post.data.author }}
                span.text-muted &nbsp; on {{ post.data.timestamp | date:'EEE, d MMM yyyy HH:mm:ss Z' }}

            p.reddit-content(ng-hide="true")
                span.reddit-content(ng-bind-html="post.data.html_content_text | cut:true:200 | to_trusted")
