h1.page-header Receive
p
    | These are your Reddcoin addresses for receiving payments.
    | You may want to give a different one to each sender so you can keep track of who is paying you.

table.table
    thead
        tr
            th(style="width: 25%") Label
            th(style="width: 55%") Address
            th
                input.form-control.col-sm-2(ng-model="receiveFilter", placeholder="Filter...")
    tbody
        tr(ng-repeat='account in wallet.accounts | filter:receiveFilter')
            td
                | {{ account.label }}
                em(ng-show="account.label==''") Blank

            td {{ account.address }}

            td
                a(href="", ng-click="copy($index)") Copy
