h1.page-header Receive
    button.btn.btn-sm.btn-default.pull-right(ng-click="newAddress()") New Address
p
    | These are your Reddcoin addresses for receiving payments.
    | You may want to give a different one to each sender so you can keep track of who is paying you.

table.table.table-hover.table-middle
    thead
        tr
            th(style="width: 35%")
                input.form-control.col-sm-2(ng-model="receiveFilter.label", placeholder="Label")
            th(style="width: 50%") Address
            th
                b

    tbody
        tr(ng-repeat='account in wallet.accounts | filter:receiveFilter')
            td
                | {{ account.label }}
                em(ng-show="account.label==''") Blank

            td {{ account.address }}

            td
                .btn-group-sm.pull-right
                    a.btn.btn-primary(href="", ng-click="edit($index)") Edit
                    a.btn.btn-success(href="", ng-click="copy($index)") Copy
