h1.page-header
    | Send
    small.pull-right Fee {{ send.fee }}
p
    | You can send Reddcoin to any address from here, or choose one from your address list.
    | Always check the amount and the receiving address before sending coins.

hr

form.form-horizontal
    .form-group
        label.col-sm-3.control-label Address
        .col-sm-9
            input.form-control(ng-model="send.address", required)
    .form-group
        label.col-sm-3.control-label Amount
        .col-sm-9
            input.form-control(type='text', ng-model="send.amount", ng-change="updateMetaTotal()", maxlength="15", required, min="1")
    .form-group
        label.col-sm-3.control-label Your Comment
        .col-sm-9
            input.form-control(ng-model="send.payerComment")
    .form-group
        label.col-sm-3.control-label Their Comment
        .col-sm-9
            input.form-control(ng-model="send.payeeComment")
    .form-group
        label.col-sm-3.lead(style='text-align: right;') Total
        .col-sm-6.lead
            strong {{ meta.totalAmount | number:8 }}
        .col-sm-3
            .btn-group.pull-right
                button.btn.btn-warning.btn-sm(ng-click="reset()") Reset
                button.btn.btn-primary.btn-sm(
                    ng-click="confirmSend()",
                    ng-disabled="disableSend"
                ) Send

    .alert.alert-info(ng-show="meta.totalAmount > walletDb.overviewModel.balance && walletDb.overviewModel.balance > 0")
        | The amount entered exceeds your total balance.


