h1.page-header
    | Settings

.row
    .col-sm-12
        .div.alert.alert-danger(ng-hide="walletOverview.encrypted")
            | Your wallet is not encrypted! It is reccommended to encrypt it to reduce the risk of your Reddcoin being stolen.

.row
    .col-sm-6

        .panel.panel-warning(ng-hide="walletOverview.encrypted")
            .panel-heading Encrypt Wallet
            .panel-body.text-middle
                a.btn.btn-sm.btn-info.pull-right(ng-click="encryptWallet()") Encrypt Wallet
                | Encrypt the wallet with a specified passphrase.


        .panel.panel-default(ng-show="walletOverview.encrypted")
            .panel-heading Change Passphrase
            .panel-body.text-middle
                a.btn.btn-sm.btn-info.pull-right(ng-click="changePassphrase()") Change
                | Change your passphrase

    .col-sm-6

        .panel.panel-default
            .panel-heading Backup Wallet
            .panel-body.text-middle
                a.btn.btn-sm.btn-info.pull-right(ng-click="backupWallet()") Backup Wallet
                | It is reccommended you do this often incase of data loss.

        .panel.panel-default(ng-show="walletOverview.locked")
            .panel-heading Unlock Wallet
            .panel-body.text-middle
                a.btn.btn-sm.btn-info.pull-right(ng-click="unlockWallet()") Unlock Wallet
                | Partially unlock your wallet just for staking or unlock it fully.

        .panel.panel-default(ng-show="!walletOverview.locked && walletOverview.encrypted")
            .panel-heading Lock Wallet
            .panel-body.text-middle
                a.btn.btn-sm.btn-info.pull-right(ng-click="lockWallet()") Lock
                | Note: This will stop staking your coins.

.row(ng-hide="true")
    .col-sm-6

        .panel.panel-default
            .panel-heading Command Line
            .panel-body.text-middle
                a.btn.btn-sm.btn-info.pull-right(ng-click="openTerminal()") Open Terminal
                | Run any RPC commands from this terminal.
