h1.page-header
    | Statistics

.row
    .col-md-6
        h3 Overview
        table.table.info-table
            tbody
                tr
                    td Wallet Version
                    td
                        strong 1.1.1
                tr
                    td Daemon Version
                    td
                        strong 1.3.1.2
                tr
                    td Confirmed Balance
                    td
                        strong {{ overview.balance }}
                tr
                    td Unconfirmed Balance
                    td
                        strong {{ overview.unconfirmedbalance }}
                tr
                    td Blocks
                    td
                        strong {{ overview.blocks | number:0 }}
                tr
                    td Connections
                    td
                        strong {{ overview.connections }}
                tr
                    td Difficulty
                    td
                        strong {{ overview.difficulty }}
                tr
                    td Money Supply
                    td
                        strong {{ overview.moneysupply | number:0 }}
                tr
                    td Test Net
                    td
                        strong {{ overview.testnet }}
    .col-md-6
        h3 Staking
        table.table.staking-table
            tbody
                tr
                    td Stake Amount
                    td
                        strong {{ overview.stake }}
                tr
                    td Average Weight
                    td
                        strong {{ staking.averageweight | number:0 }}
                tr
                    td Total Weight
                    td
                        strong {{ staking.totalweight | number:0 }}
                tr
                    td Net Stake Weight
                    td
                        strong {{ staking.netstakeweight | number:0 }}
                tr
                    td Expected Stake Date
                    td
                        strong {{ staking.expectedtime | stakedate }}
                tr
                    td Expected Stake Time
                    td
                        strong {{ staking.expectedtime | staketime }}


