ul.nav.navbar-nav.navbar-right
    li(ng-class="getClass('/irc')")
        a(ng-href='#/irc') Chat
    li(ng-class="getClass('/settings')")
        a(ng-href='#/settings') Settings
    li(ng-class="getClass('/help')")
        a(ng-href='#/help') Help