ul.nav.navbar-nav.navbar-right
    li(ng-class="getClass('/announcement')")
        a(ng-href='#/announcement')
            | Announcement
    li(ng-class="getClass('/news')")
        a(ng-href='#/news')
            | News
    li(ng-class="getClass('/irc')")
        a(ng-href='#/irc')
            | Chat
            span(ng-show="ircMessages > 0").irc-message-count {{ ircMessages }}