_public/*

**/.DS_Store
nbproject
manifest.mf
build.xml

node_modules
node_modules/
npm-debug.log

.project
.settings
.idea/*

test/test-results.xml

bower_components/

cache
cache/*
dist
dist/*


!_public/.gitkeep