.modal(tabindex='-1', role='dialog')
    .modal-dialog
        form.modal-content
            .modal-header(ng-show='title')
                button.close(type='button', ng-click='$hide()') ×
                h4.modal-title(ng-bind='title')
            .modal-body

                div(ng-bind-html='content', style="margin-bottom: 10px;")

                .form-group
                    input.form-control(type="text", ng-model="pubkey", placeholder="Public Key")
                    br
                    input.form-control(type="password", readonly="true", ng-model="privkey", placeholder="Private Key")
                    br
                    a.btn.btn-sm.btn-success(href="", ng-click="copy()", ng-disabled="privkey == ''") Copy private key

            .modal-footer
                button.btn.btn-sm.btn-default.pull-left(type='button', ng-click='$hide()') Close
                button.btn.btn-sm.btn-primary(
                    type='submit',
                    ng-click='export(pubkey);',
                    ng-disabled="pubkey == ''"
                ) Export key