.modal(tabindex='-1', role='dialog')
    .modal-dialog
        form.modal-content
            .modal-header(ng-show='title')
                button.close(type='button', ng-click='$hide()') ×
                h4.modal-title(ng-bind='title')
            .modal-body

                div(ng-bind-html='content', style="margin-bottom: 10px;")

                .form-group
                    input.form-control(type="password", ng-model="privkey", placeholder="Private Key")
                    br
                    input.form-control(type="text", ng-model="label", placeholder="Label")
                .form-group
                    checkbox
                        label
                            input(type="checkbox", checked="checked", ng-model="rescan")
                            | &nbsp Rescan blockchain (will take a while)

            .modal-footer
                button.btn.btn-sm.btn-default.pull-left(type='button', ng-click='$hide()') Cancel
                button.btn.btn-sm.btn-primary(
                    type='submit',
                    ng-click='import(privkey);$hide()',
                    ng-disabled="privkey == ''"
                ) Import key