!!! 5
html(lang='en', ng-app='app')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        meta(name='description', content='Reddcoin wallet built on node-kit')
        meta(name='author', content='Reddcoin')
        title ReddWallet
        link(rel='stylesheet', href='css/app.css')
        //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        //if lte IE 7
          script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
        //if lte IE 8
          script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
        script.
          window.brunch = window.brunch || {};
          window.brunch['auto-reload'] = {
            enabled: true
          };
        script(src='js/vendor.js')
        script(src='js/partials.js')
        script(src='js/app.js')
    body(ng-controller='AppCtrl')
        .navbar.navbar-fixed-top.navbar-default(role='navigation', ng-show="daemon.running")
            .container-fluid
                .navbar-header
                    .navbar-left
                        img.reddcoin-icon(src='reddcoin_logo.png', width='32')
                    .navbar-brand {{ walletOverview.balance | number:8 }} RDD
                .navbar-collapse.collapse
                    form.navbar-form.navbar-right.search-form(ng-submit="searchExplorer()")
                        input.form-control(type='text', ng-model="explorerSearch", placeholder='Tx, address, block')
                    div(ng-include="'/partials/topNav.html'")

        .container-fluid
            .row.view-animate-container
                .sidebar.sidebar-animate(ng-show="daemon.running")
                    div(ng-include="'/partials/nav.html'")

                    div.connection-info
                        ul
                            li
                                .connections(ng-show="walletOverview.connections > 0")
                                    span.glyphicon.glyphicon-stats.text-success
                                    | &nbsp {{ walletOverview.connections }}
                                .no-connections(ng-show="walletOverview.connections == 0")
                                    span.glyphicon.glyphicon-stats.text-warning
                                    | &nbsp {{ walletOverview.connections }}
                            li
                                span.glyphicon.glyphicon-refresh.text-success(ng-show="blocksSynced")
                                span.glyphicon.glyphicon-refresh.text-warning(ng-show="!blocksSynced")
                                | &nbsp {{ walletOverview.blocks }} &nbsp
                            li.staking-icon
                                .not-staking(ng-show="!walletStakingInfo.staking")
                                    span.glyphicon.glyphicon-ban-circle.text-warning
                                    | &nbsp Not Staking
                                .staking(ng-show="walletStakingInfo.staking")
                                    span.glyphicon.glyphicon-ok-sign.text-success
                                    | &nbsp Staking
                            li
                                .has-error(ng-show="errors.message.length > 0", container="#tooltip-container", data-placement="stationary-tooltip", data-type="danger", data-animation="am-fade-and-scale", bs-tooltip="errors.message")
                                    label
                                        span.glyphicon.glyphicon-exclamation-sign
                                        | &nbsp Daemon Error
                                .no-error(ng-hide="errors.message.length > 0", container="#tooltip-container", data-placement="stationary-tooltip", data-type="success", data-animation="am-fade-and-scale", bs-tooltip="status.noErrors")
                                    label
                                       span.glyphicon.glyphicon-ok-sign.text-info
                                       | &nbsp Daemon OK

                .main(ng-class="{loading: !daemon.running}")
                    .view-animate(ng-view, ng-app)

        // For notifications
        div#alerts-container
        div#tooltip-container
