.modal(tabindex='-1', role='dialog')
    .modal-dialog
        form.modal-content
            .modal-header(ng-show='title')
                button.close(type='button', ng-click='$hide()') ×
                h4.modal-title(ng-bind='title')
            .modal-body

                div(ng-bind-html='content', style="margin-bottom: 10px;")

                .form-group
                    input.form-control(type="text", ng-model="label", placeholder="Label", focus-me="{{ focusMe }}")

                .form-group
                    input.form-control(type="text", ng-model="address", placeholder="Address")

            .modal-footer
                button.btn.btn-sm.btn-default.pull-left(type='button', ng-click='$hide()') Cancel
                button.btn.btn-sm.btn-primary(
                    type='submit',
                    ng-click='confirm(label, address);$hide()',
                    ng-disabled="label == '' || address == ''"
                ) Create New Contact