.row(ng-show="irc.connected")
    .col-sm-12
        ul.nav.nav-pills
            li(ng-repeat="channel in irc.channelList", ng-class="{active: channel.name == irc.currentChannel}")
                a(href="", ng-click="switchChannel(channel)") {{ channel.name }}
            li.pull-right
                .btn-group.btn-group-sm
                    button.btn.btn-default(
                        ng-click="partChannel()",
                        ng-disabled="irc.channelList[irc.currentChannel].name == 'server'",
                        ng-show="irc.channelList[irc.currentChannel].connected")
                        | Close {{ irc.currentChannel }}
                    button.btn.btn-default(ng-click="disconnect()") Disconnect

.row(ng-hide="irc.connected")
    form.form-horizontal.col-sm-12

        .row
            .basic-settings.col-sm-12
                h3
                    | Settings
                    button.btn.btn-default.btn-sm.pull-right(ng-click="toggleAdvanced()") Show Advanced
                hr
                .form-group
                    label.col-sm-2.control-label Nickname
                    .col-sm-10
                        input.form-control(ng-model="connectionDetails.nickname", required)
                .form-group
                    label.col-sm-2.control-label Password
                    .col-sm-10
                        input.form-control(type='connectionDetails.password', ng-model="password", placeholder="")

        .row
            .advanced-settings.col-sm-12
                .inputs(ng-show="showAdvanced")
                    .form-group
                        label.col-sm-2.control-label Username
                        .col-sm-10
                            input.form-control(ng-model="connectionDetails.username")
                    .form-group
                        label.col-sm-2.control-label Server
                        .col-sm-10
                            input.form-control(ng-model="connectionDetails.serverHost")
                    .form-group
                        label.col-sm-2.control-label Server Password
                        .col-sm-10
                            input.form-control(type='password', ng-model="connectionDetails.serverPassword")
                    .form-group
                        label.col-sm-2.control-label Port
                        .col-sm-10
                            input.form-control(ng-model="connectionDetails.serverPort")
                    .form-group
                        label.col-sm-2.control-label Default Channel
                        .col-sm-10
                            input.form-control(ng-model="connectionDetails.defaultChannel")

        .row
            .col-sm-12
                hr
                button.btn.btn-info.btn-sm(ng-click="saveConnectionDetails()") Save Connection Details
                button.btn.btn-primary.btn-sm.pull-right(ng-click="connect()") Connect

form#wrapper(ng-show="irc.connected")
    #upper-panel
        #chat(scroll-glue, ng-model="glued", wheel-speed="50", refresh-on-change="chatLog")
            table#irc-messages(ng-hide="irc.chatLog.length == 0")
                tr.irc-row(ng-repeat="msg in irc.channelList[irc.currentChannel].log", bindonce, ng-class="{'bg-info': msg.highlight}")
                    td.irc-from
                        strong(ng-show="msg.selfMessage") {{ msg.from }}
                        span(ng-show="!msg.selfMessage") {{ msg.from }}
                        | {{ " " + msg.time.format('HH:MM') }}

                    td.irc-message(ng-class="{'irc-action': msg.action, 'text-muted': msg.muted }")
                        div(parse-url="", ng-model="msg.message")

        #users(ng-hide="irc.channelList[irc.currentChannel].privateUser")
            table#irc-users
                tr.irc-user-row(ng-repeat="name in irc.channelList[irc.currentChannel].users track by $index")
                    td.nickname-td {{ name }}

    #bottom-panel
        .input-group
            input.form-control(type='text', ng-model="message", placeholder='Say something...')
            span.input-group-btn
                button.btn.btn-primary(type='submit', ng-keydown="scrollHistory(event)", ng-click="sendMessage()", ng-disabled="irc.channelList[irc.currentChannel].connected == false") Send
